<launch>

	<arg name ="motor_port" default="/dev/ttyACM0"/>
     <arg name ="lidar_port" default="/dev/ttyUSB0"/>

	<!--rosserial node for motor on Arduino-->  
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
     <param name="port" value="$(arg motor_port)"/>
    <param name="baud" value="115200"/>
  </node>
     <!-- motor node -->
  <node pkg="motor_ctrl" type="motor_ctrl_node" name="motor_ctrl_node"/>

  <node name="ydlidar_node"  pkg="ydlidar_ros"  type="ydlidar_node" output="screen" respawn="false" >
    <param name="port" value="$(arg lidar_port)"/>  
    <param name="baudrate"         type="int" value="230400"/>  
    <param name="frame_id"     type="string" value="lidar_link"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.1" />
    <param name="range_max"    type="double" value="16.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="frequency"    type="double" value="10"/>
    <param name="samp_rate"    type="int"    value="5"/>
  </node>



  <node pkg="slam" type="odom_node" name="odom_node" />


  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video4" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>
</launch>
