<launch>
  <!-- Arguments -->

  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="MR_2/odom" />
  <arg name="move_forward_only" default="true"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find navigation)/param/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find navigation)/param/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find navigation)/param/diff_drive/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find navigation)/param/diff_drive/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find navigation)/param/diff_drive/teb_local_planner_params.yaml" command="load" />
    <!-- Here we load our costmap conversion settings -->


    <rosparam file="$(find navigation)/param/diff_drive/costmap_converter_params.yaml" command="load" /> 

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="0.5" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="1.0" />
    <param name="controller_patience" value="3.0" />
  </node>
</launch>
