<launch>

 <include
    file="$(find robot_description)/launch/display.launch" />

   <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />


  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model autorace -x $(arg x) -y $(arg y) -z $(arg z) -param robot_description" />


</launch>