 <launch>

    <arg name ="imu_port" default="/dev/ttyACM1"/>
    <arg name ="motor_port" default="/dev/ttyACM0"/>

<!--   <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="$(arg motor_port)"/>
    <param name="baud" value="57600"/>
  </node> -->
	<include file = "$(find robot_description)/launch/display.launch"/>

<!-- 
   <node pkg="motor_ctrl" type="motor_ctrl_node" name="motor_ctrl_node"/>
 -->
<!-- 
    <node pkg="slam" type="imu_wheel_odom_node" name="odom_node" /> -->
</launch>










