<launch>
    <arg name="Normal" value="0"/>
    <arg name="Full"  value="1"/>
    <arg name="Max"   value="2"/>
    <arg name="Min"   value="3"/>

    <node pkg="MR_2_UI" name="MR_2_UI_node" type="MR_2_UI_node" output="screen">
        <param name="mainwindow_type" type="int" value="$(arg Min)"/>
    </node>
</launch>
